            <div class="full-screen">
                <div class='about'>
                    <div class="contact-img">
                        <img src="/img/about-image.png">
                    </div>

                    <div class="about-contact">
                        <div id="first">
                            <h1>Address:</h1>
                            <div id="address">
                                <p>Nessebar</p>
                                <p>New Town</p>
                            </div>
                        </div>
                        <div id="second">
                            <h1>Contacts:</h1>
                            <div id="contacts">
                                <p>+359 89 884 4033</p>
                                <p>lychezarcho@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>